@using System.Globalization
@{
    ViewBag.Title = "Home Page";


	string GetDateText(DateTime date)
	{
		string result = date.Day.ToString();
		result += " " + date.ToString("MMMM", new CultureInfo("uk-UA")).ToUpper();
		if (date.Date == DateTime.Now.Date)
		{
			result += " СЬОГОДНІ";
		}
        else if (date.AddDays(-1).Date == DateTime.Now.Date)
        {
	        result += " ЗАВТРА";
        }
        else
        {
	        result += " " + date.ToString("dddd", new CultureInfo("uk-UA")).ToUpper();
        }

		return result;
	}


	var currentDate = DateTime.Now;
}

    <main class="main-content">
        <div class="container">
            <div class="page">
                <div class="breadcrumbs">
                    <span>Натисніть на час сеансу, щоб обрати місця</span>
                </div>

                <div class="row">
                    <div class="col"><button type="button" class="btn btn-outline-primary" disabled>@GetDateText(DateTime.Now)</button></div>
                    <div class="col"><button type="button" class="btn btn-outline-secondary">@GetDateText(DateTime.Now.AddDays(1))</button></div>
                    <div class="col"><button type="button" class="btn btn-outline-secondary">@GetDateText(DateTime.Now.AddDays(2))</button></div>
                    <div class="col"><button type="button" class="btn btn-outline-secondary">@GetDateText(DateTime.Now.AddDays(3))</button></div>
                    <div class="col"><button type="button" class="btn btn-outline-secondary">@GetDateText(DateTime.Now.AddDays(4))</button></div>
                    <div class="col"><button type="button" class="btn btn-outline-secondary">@GetDateText(DateTime.Now.AddDays(5))</button></div>
                    <div class="col"><button type="button" class="btn btn-outline-secondary">@GetDateText(DateTime.Now.AddDays(6))</button></div>
                </div>
                <div class="row"><br /></div>
                <div class="row">
                    <div class="col-2">
                        <img src="~/Images/1.jpeg" class="imgfixed" alt="#">
                    </div>
                    <div class="col-2">
                        <h3>0+ Поклик пращурів</h3>
                        <div class="row">
                            <div class="col-4"><a href="#">16:55</a></div>
                            <div class="col-4"><a href="#">17:50</a></div>
                            <div class="col-4"><a href="#">19:00</a></div>
                        </div>
                        <div class="row">
                            <div class="col-4"><a href="#">20:15</a></div>
                            <div class="col-4"><a href="#">21:30</a></div>
                            <div class="col-4"><a href="#">22:10</a></div>
                        </div>
                    </div>
                    <div class="col-2">
                        <img src="~/Images/2.jpeg" class="imgfixed" alt="#">
                    </div>
                    <div class="col-2">
                        <h3>0+ Їжак Сонік</h3>
                        <div class="row">
                            <div class="col-4"><a href="#">13:45</a></div>
                            <div class="col-4"><a href="#">16:25</a></div>
                            <div class="col-4"><a href="#">18:10</a></div>
                        </div>
                        <div class="row">
                            <div class="col-4"><a href="#">20:30</a></div>
                            <div class="col-4"><a href="#">22:00</a></div>
                        </div>
                    </div>
                    <div class="col-2">
                        <img src="~/Images/3.jpeg" class="imgfixed" alt="#">
                    </div>
                    <div class="col-2">
                        <h3>16+ Джентльмени</h3>
                        <div class="row">
                            <div class="col-4"><a href="#">21:00</a></div>
                            <div class="col-4"><a href="#">22:30</a></div>
                        </div>
                    </div>
                </div> <!-- .movie-list -->

                </div>
            </div> <!-- .container -->
    </main>